<!-- blog/blogpost_form.html -->
{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Edit Blog Post - {{ form.instance.title }}
    {% else %}
        Create Blog Post
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}
